mixin cinput
    .cinput
        .input-append
            | <input type="text" value="<%- typeof city !== 'undefined' ? city : '' %>" placeholder="city name" class="form-control"/>
            button.btn.remove(type='submit')
                i.glyphicon.glyphicon-remove
.city-inputs
    | <% _.each(cities, function(city) { %>
    +cinput()
    | <% }) %>
    
    +cinput()

    span.btn.btn-default.go Go
    span.btn.btn-info.random Random
