table.metrics
  | <% _.each(data, function(row) { %>
  tr
    th(colspan).metricname <%- row.metric.name %>
  | <% _.each(row.data, function(val) { %>
  tr
    td <%- val.name %>
    td <%- val.value %>
  | <% }) %>
  | <% }) %>