div
  .citytitle <%- cities[0] %>
  table.suggestions
    tr
      td(style='color: #888; text-align: right') similar cities
      td.metricsimilar
        a(href='#') Houston
        a(href='#') Denver
        a(href='#') Sacramento
        a(href='#') Phoenix
    tr
      td(style='color: #888; text-align: right') closest cities
      td.metricsimilar
        a(href='#') Miami
        a(href='#') Detroit
        a(href='#') Seattle
  table.metrics
    | <% _.each(data, function(val) { %>
    tr
      td.metricname <%- val.label %>
      td.metricvalue <%- val.value %>
      td.metricsimilar
        | <% _.each(val.sim, function(sim) { %>
        a(href='#') <%- sim %>
        | <% }) %>
    | <% }) %>
    