.selectpanel.where.
  <div href="#" class="metricheader statheader">Show</div>
  <% _.each(wheres, function(val) { %>
    <div data-value="<%- val.name %>" class="metricrow<%- val.name === where ? ' active' : ''%>"><%- val.label %></div>
  <% }) %>
.selectpanel.metric.
  <div href="#" class="metricheader statheader">Compare</div>
  <% _.each(metrics, function(val) { %>
    <div data-value="<%- val.name %>" class="metricrow<%- val.name === sort ? ' active' : ''%>"><%- val.label %></div>
  <% }) %>
.selectpanel.sort.
  <div href="#" class="metricheader statheader">Sort</div>
  <% _.each(sorts, function(val) { %>
    <div data-value="<%- val.name %>" class="metricrow<%- val.name === order ? ' active' : ''%>"><%- val.label %></div>
  <% }) %>
#listchart
    svg